body {
  background-color: lightgray;
}

.App {
  text-align: center;
  border-radius: 1rem;
  width: 40%;
  margin: auto;
  margin-top: 5rem;
  background-color: lightpink;
  padding: 2rem 0rem;
}

#text {
  text-align: center;
  width: 60%;
  margin: auto;
  
  font-size: 2rem;
}

#author {
  text-align: end;
  width: 60%;
  margin: auto;
  font-size: 1rem;
}

#tweet-quote {
  font-size: 3rem;
  color: blue;
}

.box {
  display: inline-flex;
  width: 60%;
  justify-content: space-between;
  
}

button {
  font-size: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;
}

button:hover {
  color: white;
  background-color: black;
}